<!-- resources/views/edit_note.blade.php -->
@extends('layouts.master') @section('css')
<link rel="stylesheet" href="{{ asset('css/notes.css') }}" />
<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
    }

    form {
        max-width: 400px;
        width: 100%;
    }
</style>
@endsection @section('content')
<div class="container">
    <form method="POST" action="{{ route('notes.update', $note['id']) }}">
        @csrf @method('PUT')
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input
                type="text"
                class="form-control"
                name="title"
                value="{{ old('title', $note['title']) }}"
                required
            />

            <label for="body" class="form-label">Body:</label>
            <input
                type="text"
                class="form-control"
                name="body"
                value="{{ old('body', $note['body']) }}"
                required
            />

            <label for="tags" class="form-label">Tags:</label>
            <input
                type="text"
                class="form-control"
                name="tags"
                value="{{ old('tags', $note['tags']) }}"
                required
            />
        </div>
        <div style="text-align: right">
            <button type="submit" class="btn btn-primary">Update Note</button>
        </div>
    </form>
</div>
@endsection @section('script') @endsection
