/* CSS */

@keyframes fadeInOut {
    0% {
        opacity: 1; 
    }
    50% { 
        opacity: 1; 
    }
    100% { 
        opacity: 0; 
    }
}

@keyframes text {
    0% {
        opacity: 1; 
        color: red;
    }
    25% {
        opacity: 1; 
        color: yellow;
    }
    50% { 
        opacity: 1; 
        color: blue;
    }
    75% {
        opacity: 1; 
        color: green;
    }
    100% { 
        opacity: 0; 
        color: purple;
    }
}

.blinking-text-important {
    animation: fadeInOut 1s linear infinite;
    color: red;
}

.blinking-text-dugem {
    animation: text 1s linear infinite;
}

.desc {
    margin: 20px;
    text-align: center;
}

select {
    border: 2px solid black;
}

/* weather*/
.weather-section {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.weather-section h1 {
    text-align: center;
}

form {
    text-align: center;
}

form input {
    margin-top: 10px;
    margin-bottom: 10px;
}

form button {
    margin-top: 20px;
}

.city {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-cuaca {
    text-align: center;
}


/* earthquake*/
.earthquake-section {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.earthquake-section h1 {
    text-align: center;
}

.earthquake-section h4 {
    margin-top: 30px;
}

.earthquake-section table tr {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .weather-section,
    .earthquake-section {
        float: none;
        width: 100%; 
    }
}